<!DOCTYPE html>

<head>
    <html lang = en>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Dojo Survey</title>
</head>

<body>
    <div class="container">
        <form action="/submit" method="post">
            {% csrf_token %}
            <h1 class="mb-3 mt-4">Dojo Survey</h1>
            <div class="row">
                <label for="name" class="form-label col-sm-2">Name:</label>
                <input type="text" class="form-control col-sm-4" name="name">
            </div>
            <div class="row">
                <label for="location" class="form-label col-sm-2">Campus:</label>
                <select name="location" class='form-select'>
                    <option selected>Select a Campus</option>
                    <option value="Online">Online</option>
                    <option value="Bellvue">Bellvue, WA</option>
                    <option value="Boise">Boise, ID</option>
                    <option value="Chicago">Chicago, IL</option>
                    <option value="Dallas">Dallas, TX</option>
                    <option value="LA">Los Angeles, CA</option>
                    <option value="Silicon_Valley">Silicon Valley, CA</option>
                </select>
            </div>
            <div class="row">
                <label for="language" class="form-label col-sm-2">Favorite Language:</label>
                <select name="language" class='form-select' >
                    <option selected>Select your favorite programming language.</option>
                    <option value="HTML5">HTML5</option>
                    <option value="CSS">CSS</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="Python">Python</option>
                </select>
            </div>
            <div class="row">
                <button class='mt-4'>Submit</button>
            </div>
        </form>
    </div>
</body>